<html>
    <head>
        <title>{{  title | default: "LocosRaros" }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    </head>
    <body class="bg-near-white pa3-ns ph6-l pv5-l">
        {{ content }}
    </body>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Inconsolata:400');
        @import url('https://fonts.googleapis.com/css?family=Duru+Sans:400');

        h1, h2, h3, h4, h5 {
            font-family: 'Inconsolata', monospace;
            font-weight: 400;
        }

        p {
            font-family: 'Duru Sans', sans-serif;
        }

        blockquote {
            background: #f9f9f9;
            border-left: 10px solid #ccc;
            margin: 1.5em 0;
            padding: 0.5em 10px;
            quotes: "\201C""\201D""\2018""\2019";
        }
        blockquote:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        }

    </style>
<html>

